snackeroo.info {
        reverse_proxy localhost:7000
        log {
                output file caddy_access.log {
                        roll_size 50mb
                        roll_keep 5
                        roll_keep_for 720h
                }
        }
}