{% load static %}
<header class="mb-12 mt-6">
  <nav>
    <div class="flex mb-3 space-x-3 justify-center">
      <img src="{% static '/images/snacks.svg' %}" alt="snackies" class="w-5 h-5 sm:w-10 sm:h-10 my-auto">
      <a href={% url "blog_home" %} class="text-green-700 text-4xl">EASY Snack</a>
      <img src="{% static '/images/snacks.svg' %}" alt="snackies" class="w-5 h-5 sm:w-10 sm:h-10 my-auto">
    </div>
    <nav>
      <div class="hidden sm:flex text-2xl justify-center space-x-3">
        <a class="hover:underline hover:text-green-700" href="{% url 'blog_home' %}">Blog</a>
        <a class="hover:underline hover:text-green-700" href="{% url 'map' %}">Map</a>
        <a class="hover:underline hover:text-green-700" href="{% url 'country_home' %}">Countries</a>
        <a class="hover:underline hover:text-green-700" href="{% url 'city_home' %}">Cities</a>
        <a class="hover:underline hover:text-green-700" href="{% url 'about' %}">About</a>
      </div>
      <div id="burger" class="flex sm:hidden justify-center items-center space-y-3 flex-col mb-2" onclick="open_nav()">
        <div class="child w-12 h-1 bg-black rounded-full"></div>
        <div class="child w-12 h-1 bg-black rounded-full"></div>
        <div class="child w-12 h-1 bg-black rounded-full"></div>
      </div>
    </nav>
    <hr class="border-b border-2 bg-green-700 border-green-700">
  </nav>
</header>
<div id="mob_nav" class="fixed top-0 left-0 w-screen h-screen bg-white z-50">
  <div class="flex flex-col space-y-10 flex-wrap content-center h-full justify-center text-center text-2xl" onclick="open_nav()">
    <a class="hover:underline hover:text-green-700" href="{% url 'blog_home' %}">Blog</a>
    <a class="hover:underline hover:text-green-700" href="{% url 'map' %}">Map</a>
    <a class="hover:underline hover:text-green-700" href="{% url 'country_home' %}">Countries</a>
    <a class="hover:underline hover:text-green-700" href="{% url 'city_home' %}">Cities</a>
    <a class="hover:underline hover:text-green-700" href="{% url 'about' %}">About</a>
  </div>
</div>
<script>
  let hidden = true
  let nav = document.getElementById("mob_nav")
  const open_nav = () => {
    if(hidden){
      nav.style.clipPath = "circle(1000px at 90% -10%)"
      hidden = false
    }else {
      nav.style.clipPath = "circle(0px at 90% -10%)"
      hidden = true
    }
  }
</script>
