{% extends 'pages/_base.html' %} {% load static %} {% block content %}
<div>
  {% include "pages/components/carousell.html" %}
  <div class="mt-10 p-2 bg-white rounded">
    <p class="text-center text-2xl text-green-700">Subscribe here</p>
    <p class="text-center font-bold text-gray-500 mb-5">
		We will send you all new blog posts once a week
    </p>
    {% url 'create_subscription' as action %} 
    {% include "forms/components/form.html" with action=action form=form %}
  </div>
</div>
{% endblock content %}
