{% load static %}
<div class="my-5 flex flex-col justify-center text-center">
  <p>
    <b>Name:</b>
    {{ object.restaurant_name }}
  </p>
  <p>
    <b>Price per Person:</b>
    ${{ object.cost }}
  </p>
  <p>
    <b>Country:</b>
    <a class="text-lg text-green-700 underline" href="{{ object.country.get_absolute_url }}">{{ object.country.name }}</a>
  </p>
  <p>
    <b>City:</b>
    <a class="text-lg text-green-700 underline" href="{{ object.city.get_absolute_url }}">{{ object.city.name }}</a>
  </p>
  <p>
    <div id="snacks" class="flex space-x-2 my-2 mx-auto"></div>
  </p>
</div>

<script>
    let k =  parseFloat("{{object.snacks}}")
    let j = k - parseInt("{{object.snacks}}")
    let snack = document.getElementById("snacks")
    let html = "<b>Snacks:</b>"
    for (let n = 0; n < parseInt(k); n++){
        html += `<img class="w-8 h-8" src="{% static '/images/snacks.png' %}" alt="snack"/>`
    }
    if (j > 0) {
        html += `<img class="w-4 h-8" src="{% static '/images/hsnacks.png' %}" alt="hsnack"/>`
    }
    snack.innerHTML = html
</script>