{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MKD52CL7Y8');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MKD52CL7Y8"></script>
    <title>EASY Snack</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{% static '/images/logo.png' %}"
      sizes="32x32"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="{% static '/css/base.css' %}" rel="stylesheet" />
    <script src="{% static '/js/base.js' %}"></script>
    <meta
      name="description"
      content="A blog about food and cute stories."
    />
  </head>
  <body
    class="flex h-full w-full flex-col p-3 md:w-4/5 mx-auto max-w-7xl"
    style="font-family: 'Nunito', sans-serif;"
  >
    {% include "pages/components/header.html" %}
    <div>
      {% block content %} {% endblock content %}
    </div>
    {% include "pages/components/footer.html" %}
  </body>
</html>
